/* Error: Undefined variable.
 *     ,
 * 452 |     background-image: radial-gradient($color-surface 15%, transparent 16%);
 *     |                                       ^^^^^^^^^^^^^^
 *     '
 *   src\styles\main.scss 452:39  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 452 \2502      background-image: radial-gradient($color-surface 15%, transparent 16%);\d\a     \2502                                        ^^^^^^^^^^^^^^\a     \2575 \a   src\\styles\\main.scss 452:39  root stylesheet";
}
